<div class="custom-container">
    <img src="./images/Home-main-wide2.png" class="main-image" alt="main homepage background image">
    <img src="./images/G.O.A.T.png" alt="logo" class="main-logo">
    <div class="text-white quote-box">
        <h2 class="custom-font-size">"Without CLASSICS</h2>
        <h3 class="custom-font-size">LIFE would have no peace"</h3>
    </div>
</div>

<div class="gallery-container" style="color: white;">
  <div class="card-header col-md-12 text-center">
    <h2>
      CLASSICS GALLERY
    </h2>
  </div>
  {{#each cars as |car| }}
  <div class="col-md-4">
    <p>
      {{car.id}}
      {{car.year}}
      {{car.make}}
      {{car.model}}
      <img src="{{car.image}}">
      {{car.image}}
    </p>
  </div>
  <div class="col-md-5">
    <p>
      Price:
      {{car.value}}
    </p>
  </div>
  {{/each}}
</div>