<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="Description" content="Enter your description here" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Merchandise</title>
</head>

<div class="custom-container">
    <img src="./images/Home-main-wide2.png" class="main-image" alt="main homepage background image">
    <img src="./images/G.O.A.T.png" alt="logo" class="main-logo">
    <div class="text-white quote-box">
        <h2 class="custom-font-size">"Without CLASSICS</h2>
        <h3 class="custom-font-size">LIFE would have no peace"</h3>
    </div>
</div>

<div class="gallery-container" style="color: rgb(100, 9, 9);">
  <div class="card-header col-md-12 text-center">
    <h2>
      CLASSICS GALLERY
    </h2>
  </div>
  <div id="gallery-card-container">
  {{#each cars as |car| }}

    <div class="card card-cars container-fluid shadow-lg-custom p-3 mb-5 bg-white rounded" style="width: 80%;">
      <img src="{{car.image}}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{car.make}}</h5>
        <p class="car-card-text">Model:
          {{car.year}} {{car.model}}</p>
          <p class="car-card-text">About:
          {{car.description}}</p>
          <p class="car-card-text">Price:
          ${{car.value}}</p>
        <a href="#" class="btn btn-primary">Interested?</a>
      </div>
    </div>
    {{/each}}

  </div>
</div>

</html>
